In [12]:
import pandas as pd
datapath="åˆè³½è³‡æ–™/acct_transaction.csv"
df_csv = pd.read_csv(datapath)
print(df_csv.head())

                                           from_acct  from_acct_type  \
0  be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...               1
1  18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...               1
2  302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...               1
3  5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...               1
4  7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...               1

                                             to_acct  to_acct_type  \
0  7abb16ac9bddc1f464981131ba68506775a964df2e0734...             1
1  e77e425fb5f3ece7a7b431b3c43cc1d040f3054e35479d...             2
2  4a707a0af2aa824777082803013610090033104c308023...             1
3  d16b1bf33802f020b508002755c13aad549bc59dde7aae...             2
4  c2e0f75b54f394b29755779ab9a488931e9d893a0e5f8f...             1

  is_self_txn    txn_amt  txn_date  txn_time currency_type channel_type
0           N    47500.0        71  05:05:00           TWD           04
1         UNK     6150.0        31  20:55:00           TWD           03
2           N  1150000.0        37  09:20:00           TWD           04
3         UNK     8550.0       106  13:40:00           TWD           04
4           N     1450.0        84  11:20:00           TWD           03

In [88]:
a = set(df_csv['from_acct'])
b = set(df_csv['to_acct'])

# ä½¿ç”¨ .union() æˆ–æ˜¯ | é‹ç®—å­
all_accounts = a.union(b)
# æˆ–æ˜¯ all_accounts = a | b

# é€™å°‡æœƒå°å‡ºæ‰€æœ‰ä¸é‡è¤‡å¸³æˆ¶çš„ã€Œç¸½æ•¸é‡ã€
print(len(all_accounts))

1800106

In [13]:
alertpath="åˆè³½è³‡æ–™/acct_alert.csv"
alertdf_csv = pd.read_csv(alertpath)
print(alertdf_csv.head())

                                                acct  event_date
0  80bd1c28b47357a3d37a01835ebb1bed5edf54e791bd3d...          87
1  b8c11db05d00b5ac66be10ffee5f6ce6ef9221c733a4bb...          19
2  daa05c68b290ac3cc522abad400c5304dffba07baa232c...          81
3  174e26ecc9cee56aaaca855c743a106275c58629740a49...          88
4  007cf5c98aa4f9f3e444c9cdaca74d0f7542e9a2804201...         117

In [100]:
predictpath="åˆè³½è³‡æ–™/acct_predict.csv"
predictdf_csv = pd.read_csv(predictpath)
print(predictdf_csv.head())

                                                acct  label
0  fcf31c5113d3dbd9cb5056045c6a0f213bd8a4fc1bc834...      0
1  e21dfa45e990364194468e501fbfe52ec02a4b71a2e2e8...      0
2  2552e943aaf9caa33183758cd40128ef20a6e6ff16c232...      0
3  71700e7b7c3d40abdfdbcc7afc0752fa8d9bd28b408651...      0
4  c70349fc718ffb88f03f31b5a7fcf65b33dd71dce6fee0...      0

In [15]:
df_csv['currency_type'].value_counts()

currency_type
TWD    4382571
USD      23458
JPY      21545
CNY       2888
EUR       2233
HKD       1007
AUD        752
GBP        357
CAD        255
NZD        202
THB        199
ZAR        176
SGD        134
CHF         91
SEK         14
MXN          8
Name: count, dtype: int64

In [19]:
df_csv['channel_type'].value_counts()

channel_type
03     2008166
UNK    1701739
04      595522
06       58445
01       51364
02       15458
05        3505
99        1281
07         410
Name: count, dtype: int64

In [16]:
exchange_rate = {"TWD": 1,"USD": 30.4,"JPY": 0.21,"CNY": 4.27,"EUR": 35.71,"HKD": 3.91,"AUD": 20.07,"GBP": 40.97,
                 "CAD": 21.79,"NZD": 18.87,"THB": 1.18,"ZAR": 1.67,"SGD": 22.22,"CHF": 34.48,"SEK": 3.33,"MXN": 1.67}

df_csv['txn_amt_twd'] = df_csv.apply(lambda x: x['txn_amt'] * exchange_rate.get(x['currency_type'], 1), axis=1)
df_csv = df_csv.drop(columns=['txn_amt'])

In [17]:
import pandas as pd


df_csv['txn_time_dt'] = pd.to_datetime(df_csv['txn_time'], format='%H:%M:%S')

# è½‰æˆå°æ™‚ï¼Œåˆ†é˜å››æ¨äº”å…¥
df_csv['txn_hours'] = df_csv['txn_time_dt'].dt.hour + (df_csv['txn_time_dt'].dt.minute / 60)
df_csv['txn_hours'] = df_csv['txn_hours'].round()

# åˆªé™¤ä¸­é–“æ¬„ä½
df_csv = df_csv.drop(columns=['txn_time_dt','txn_time','currency_type'])


print(df_csv.head())

                                           from_acct  from_acct_type  \
0  be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...               1
1  18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...               1
2  302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...               1
3  5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...               1
4  7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...               1

                                             to_acct  to_acct_type  \
0  7abb16ac9bddc1f464981131ba68506775a964df2e0734...             1
1  e77e425fb5f3ece7a7b431b3c43cc1d040f3054e35479d...             2
2  4a707a0af2aa824777082803013610090033104c308023...             1
3  d16b1bf33802f020b508002755c13aad549bc59dde7aae...             2
4  c2e0f75b54f394b29755779ab9a488931e9d893a0e5f8f...             1

  is_self_txn  txn_date channel_type  txn_amt_twd  txn_hours
0           N        71           04      47500.0        5.0
1         UNK        31           03       6150.0       21.0
2           N        37           04    1150000.0        9.0
3         UNK       106           04       8550.0       14.0
4           N        84           03       1450.0       11.0

In [18]:
df_from = df_csv[['from_acct', 'from_acct_type', 'txn_amt_twd', 'txn_date', 'channel_type', 'txn_hours']].copy()
df_to = df_csv[['to_acct', 'to_acct_type', 'txn_amt_twd', 'txn_date', 'channel_type', 'txn_hours']].copy()

df_from = df_from.sort_values(by=['from_acct', 'txn_date']).reset_index(drop=True)
df_to = df_to.sort_values(by=['to_acct', 'txn_date']).reset_index(drop=True)

print(df_from.head())
print(df_to.head())

                                           from_acct  from_acct_type  \
0  00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...               2
1  000015150c92e2a41c4715a088df78d77a7d4f3017aadc...               2
2  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...               2
3  000047d4d4551618c647b5bc602ecaeb7f42bbdece0750...               2
4  00007e8eec41727b71aca0e00cf26c75bd96babafa5203...               1

   txn_amt_twd  txn_date channel_type  txn_hours
0        205.0        52          UNK       23.0
1        585.0        68          UNK       10.0
2      20500.0        79           06        8.0
3       5050.0        57          UNK       17.0
4       2350.0        15           03       13.0
                                             to_acct  to_acct_type  \
0  00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...             2
1  00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...             2
2  00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...             2
3  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...             2
4  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...             2

   txn_amt_twd  txn_date channel_type  txn_hours
0       4050.0        23           03       14.0
1       3050.0        13           03       18.0
2         75.0         9           03       24.0
3      50500.0        79           03       14.0
4      17500.0        83          UNK       20.0

In [39]:
df_to['txn_date'].max()

np.int64(121)

In [49]:
condition = (df_to['to_acct'] == '175cac9a8d435f3c06d78eaee91c1335993b615262b00a43426fe909d9816bf9')

# ä½¿ç”¨ .sum() ä¾†è¨ˆç®— True (ç¬¦åˆæ¢ä»¶) çš„ç¸½æ¬¡æ•¸
count = condition.sum()

# å°å‡ºæ¬¡æ•¸ (é€™æœƒæ˜¯ä¸€å€‹æ•¸å­—ï¼Œä¾‹å¦‚ 0, 1, 10...)
print(count)

25

In [45]:
target_values_set = {'03', '04', 'UNK'}
df_from['channel_type'] = df_from['channel_type'].apply(lambda x: 1 if x in target_values_set else 0)
df_to['channel_type'] = df_to['channel_type'].apply(lambda x: 1 if x in target_values_set else 0)

In [21]:
print(df_from.head())
print(df_to.head())

                                           from_acct  from_acct_type  \
0  00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...               2
1  000015150c92e2a41c4715a088df78d77a7d4f3017aadc...               2
2  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...               2
3  000047d4d4551618c647b5bc602ecaeb7f42bbdece0750...               2
4  00007e8eec41727b71aca0e00cf26c75bd96babafa5203...               1

   txn_amt_twd  txn_date  channel_type  txn_hours
0        205.0        52             1       23.0
1        585.0        68             1       10.0
2      20500.0        79             0        8.0
3       5050.0        57             1       17.0
4       2350.0        15             1       13.0
                                             to_acct  to_acct_type  \
0  00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...             2
1  00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...             2
2  00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...             2
3  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...             2
4  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...             2

   txn_amt_twd  txn_date  channel_type  txn_hours
0       4050.0        23             1       14.0
1       3050.0        13             1       18.0
2         75.0         9             1       24.0
3      50500.0        79             1       14.0
4      17500.0        83             1       20.0

In [51]:
import pandas as pd

def aggregate_features_account_time(df, acct_col):
    # æ ¹æ“šå¸³æˆ¶æ±ºå®šå°æ‡‰çš„ type æ¬„ä½
    type_col = 'from_acct_type' if acct_col == 'from_acct' else 'to_acct_type'

    # ğŸ”¹ æ ¹æ“šæ™‚é–“å€é–“å»ºç«‹çµ±è¨ˆæ¬„
    df['txn_0_6'] = ((df['txn_hours'] >= 0) & (df['txn_hours'] < 6)).astype(int)
    df['txn_6_12'] = ((df['txn_hours'] >= 6) & (df['txn_hours'] < 12)).astype(int)
    df['txn_12_18'] = ((df['txn_hours'] >= 12) & (df['txn_hours'] < 18)).astype(int)
    df['txn_18_24'] = ((df['txn_hours'] >= 18) & (df['txn_hours'] <= 24)).astype(int)

    # ğŸ”¹ å°å¸³æˆ¶æ•´é«”èšåˆ
    agg = df.groupby(acct_col).agg(
        txn_amt_max=('txn_amt_twd', 'max'),
        txn_amt_min=('txn_amt_twd', 'min'),
        txn_amt_mean=('txn_amt_twd', 'mean'),
        txn_count=('txn_amt_twd', 'count'),
        txn_0_6=('txn_0_6', 'sum'),
        txn_6_12=('txn_6_12', 'sum'),
        txn_12_18=('txn_12_18', 'sum'),
        txn_18_24=('txn_18_24', 'sum'),
        type_1=(type_col, lambda x: (x == 1).sum()),
        type_2=(type_col, lambda x: (x == 2).sum()),
        ch_type_1=('channel_type', lambda x: (x == '1').sum() if x.dtype == object else (x == 1).sum()),
        ch_type_0=('channel_type', lambda x: (x == '0').sum() if x.dtype == object else (x == 0).sum())
    ).reset_index()

    return agg

# ä½¿ç”¨æ–¹å¼
df_from_features = aggregate_features_account_time(df_from, 'from_acct')
df_to_features   = aggregate_features_account_time(df_to, 'to_acct')

# æª¢è¦–çµæœ
print(df_from_features.head())
print(df_to_features.head())

                                           from_acct  txn_amt_max  \
0  00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...        205.0
1  000015150c92e2a41c4715a088df78d77a7d4f3017aadc...        585.0
2  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...      20500.0
3  000047d4d4551618c647b5bc602ecaeb7f42bbdece0750...       5050.0
4  00007e8eec41727b71aca0e00cf26c75bd96babafa5203...      12500.0

   txn_amt_min  txn_amt_mean  txn_count  txn_0_6  txn_6_12  txn_12_18  \
0        205.0         205.0          1        0         0          0
1        585.0         585.0          1        0         1          0
2      20500.0       20500.0          1        0         1          0
3       5050.0        5050.0          1        0         0          1
4       1050.0        4500.0          7        0         0          3

   txn_18_24  type_1  type_2  ch_type_1  ch_type_0
0          1       0       1          0          1
1          0       0       1          0          1
2          0       0       1          0          1
3          0       0       1          0          1
4          4       7       0          0          7
                                             to_acct  txn_amt_max  \
0  00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...       4050.0
1  00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...       3050.0
2  00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...         75.0
3  0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...      50500.0
4  00003f3fb30775e809a2e02924f57f360f3d02e89cbd82...       3050.0

   txn_amt_min  txn_amt_mean  txn_count  txn_0_6  txn_6_12  txn_12_18  \
0       4050.0        4050.0          1        0         0          1
1       3050.0        3050.0          1        0         0          0
2         75.0          75.0          1        0         0          0
3      17500.0       34000.0          2        0         0          1
4       3050.0        3050.0          1        0         1          0

   txn_18_24  type_1  type_2  ch_type_1  ch_type_0
0          0       0       1          0          1
1          1       0       1          0          1
2          1       0       1          0          1
3          1       0       2          0          2
4          0       0       1          0          1

In [91]:
print(df_from_features)

                                                from_acct  txn_amt_max  \
0       00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...        205.0
1       000015150c92e2a41c4715a088df78d77a7d4f3017aadc...        585.0
2       0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...      20500.0
3       000047d4d4551618c647b5bc602ecaeb7f42bbdece0750...       5050.0
4       00007e8eec41727b71aca0e00cf26c75bd96babafa5203...      12500.0
...                                                   ...          ...
819394  ffff781c72fb6d7d636d2e8f33463c73b3e76bfb6d8a0d...       1350.0
819395  ffffadfe02d29c1b1cb1c05dc06d9475ec6b35485c6394...       3050.0
819396  ffffb1165f2ca552ef09cf0e2a652fe42bbfa1a0467511...      29500.0
819397  ffffbf70d415a37b639af4dafb71bc8e794b4c36f6bc46...       2950.0
819398  ffffd9f7f25a490ff820baf1eb1f15b22cb82dd1512c95...       2050.0

        txn_amt_min  txn_amt_mean  txn_count  txn_0_6  txn_6_12  txn_12_18  \
0             205.0    205.000000          1        0         0          0
1             585.0    585.000000          1        0         1          0
2           20500.0  20500.000000          1        0         1          0
3            5050.0   5050.000000          1        0         0          1
4            1050.0   4500.000000          7        0         0          3
...             ...           ...        ...      ...       ...        ...
819394       1350.0   1350.000000          1        0         0          0
819395       3050.0   3050.000000          1        0         0          0
819396       2150.0   6933.333333          9        0         0          4
819397       2950.0   2950.000000          1        0         0          1
819398       1050.0   1550.000000          2        2         0          0

        txn_18_24  type_1  type_2  ch_type_1  ch_type_0
0               1       0       1          0          1
1               0       0       1          0          1
2               0       0       1          0          1
3               0       0       1          0          1
4               4       7       0          0          7
...           ...     ...     ...        ...        ...
819394          1       0       1          0          1
819395          1       0       1          0          1
819396          5       0       9          0          9
819397          0       0       1          0          1
819398          0       0       2          0          2

[819399 rows x 13 columns]

In [92]:
print(df_to_features)

                                                   to_acct  txn_amt_max  \
0        00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...       4050.0
1        00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...       3050.0
2        00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...         75.0
3        0000319cf868e5a245bbe4726c9f8f0cbb7cbc03a9aa01...      50500.0
4        00003f3fb30775e809a2e02924f57f360f3d02e89cbd82...       3050.0
...                                                    ...          ...
1169477  ffffadfe02d29c1b1cb1c05dc06d9475ec6b35485c6394...      10500.0
1169478  ffffb539101ccf825bac965d6b0d88ca323e02c17c22be...      14500.0
1169479  ffffd0e26ce48dddeb6961506c8faaaa0c89159ad4b1cc...       7650.0
1169480  ffffe17a29cfc2f790f187bf208323fd466509022c0e9e...       1050.0
1169481  fffffe7efc0bd49732f6cd614bbafb507acc0dc1e08e75...       1050.0

         txn_amt_min  txn_amt_mean  txn_count  txn_0_6  txn_6_12  txn_12_18  \
0             4050.0        4050.0          1        0         0          1
1             3050.0        3050.0          1        0         0          0
2               75.0          75.0          1        0         0          0
3            17500.0       34000.0          2        0         0          1
4             3050.0        3050.0          1        0         1          0
...              ...           ...        ...      ...       ...        ...
1169477       1550.0        6025.0          2        0         1          0
1169478      14500.0       14500.0          1        0         0          0
1169479       7650.0        7650.0          1        0         0          1
1169480       1050.0        1050.0          1        0         0          0
1169481       1050.0        1050.0          1        0         0          0

         txn_18_24  type_1  type_2  ch_type_1  ch_type_0
0                0       0       1          0          1
1                1       0       1          0          1
2                1       0       1          0          1
3                1       0       2          0          2
4                0       0       1          0          1
...            ...     ...     ...        ...        ...
1169477          1       0       2          0          2
1169478          1       0       1          0          1
1169479          0       1       0          0          1
1169480          1       0       1          0          1
1169481          1       0       1          0          1

[1169482 rows x 13 columns]

In [93]:
# å…ˆæŠŠ from_acct_features èˆ‡ to_acct_features æ¬„ä½åç¨±å€åˆ†é–‹
df_from_features_renamed = df_from_features.rename(
    columns=lambda x: 'from_' + x if x != 'from_acct' else 'acct'
)

df_to_features_renamed = df_to_features.rename(
    columns=lambda x: 'to_' + x if x != 'to_acct' else 'acct'
)

# ä»¥å¸³è™Ÿç‚º key é€²è¡Œå¤–é€£æ¥ï¼ˆouter joinï¼‰
df_account_features = pd.merge(
    df_from_features_renamed,
    df_to_features_renamed,
    on='acct',
    how='outer'
)

# æª¢è¦–çµæœ
print(df_account_features.head())

                                                acct  from_txn_amt_max  \
0  00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...               NaN
1  00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...             205.0
2  000015150c92e2a41c4715a088df78d77a7d4f3017aadc...             585.0
3  00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...               NaN
4  00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...               NaN

   from_txn_amt_min  from_txn_amt_mean  from_txn_count  from_txn_0_6  \
0               NaN                NaN             NaN           NaN
1             205.0              205.0             1.0           0.0
2             585.0              585.0             1.0           0.0
3               NaN                NaN             NaN           NaN
4               NaN                NaN             NaN           NaN

   from_txn_6_12  from_txn_12_18  from_txn_18_24  from_type_1  ...  \
0            NaN             NaN             NaN          NaN  ...
1            0.0             0.0             1.0          0.0  ...
2            1.0             0.0             0.0          0.0  ...
3            NaN             NaN             NaN          NaN  ...
4            NaN             NaN             NaN          NaN  ...

   to_txn_amt_mean  to_txn_count  to_txn_0_6  to_txn_6_12  to_txn_12_18  \
0           4050.0           1.0         0.0          0.0           1.0
1              NaN           NaN         NaN          NaN           NaN
2              NaN           NaN         NaN          NaN           NaN
3           3050.0           1.0         0.0          0.0           0.0
4             75.0           1.0         0.0          0.0           0.0

   to_txn_18_24  to_type_1  to_type_2  to_ch_type_1  to_ch_type_0
0           0.0        0.0        1.0           0.0           1.0
1           NaN        NaN        NaN           NaN           NaN
2           NaN        NaN        NaN           NaN           NaN
3           1.0        0.0        1.0           0.0           1.0
4           1.0        0.0        1.0           0.0           1.0

[5 rows x 25 columns]

In [94]:
print(df_account_features.columns)

Index(['acct', 'from_txn_amt_max', 'from_txn_amt_min', 'from_txn_amt_mean',
       'from_txn_count', 'from_txn_0_6', 'from_txn_6_12', 'from_txn_12_18',
       'from_txn_18_24', 'from_type_1', 'from_type_2', 'from_ch_type_1',
       'from_ch_type_0', 'to_txn_amt_max', 'to_txn_amt_min', 'to_txn_amt_mean',
       'to_txn_count', 'to_txn_0_6', 'to_txn_6_12', 'to_txn_12_18',
       'to_txn_18_24', 'to_type_1', 'to_type_2', 'to_ch_type_1',
       'to_ch_type_0'],
      dtype='object')

In [95]:
import pandas as pd

# å°‡ NaN ç•¶ä½œ 0
df_from_features = df_from_features.fillna(0)
df_to_features   = df_to_features.fillna(0)

# é‡æ–°å‘½åæ¬„ä½ä»¥ä¾¿å€åˆ†
df_from_features_renamed = df_from_features.rename(
    columns=lambda x: 'from_' + x if x != 'from_acct' else 'acct'
)
df_to_features_renamed = df_to_features.rename(
    columns=lambda x: 'to_' + x if x != 'to_acct' else 'acct'
)

# å¤–é€£æ¥åˆä½µ
df_merged = pd.merge(df_from_features_renamed, df_to_features_renamed, on='acct', how='outer').fillna(0)

# å»ºç«‹æœ€çµ‚æ•´åˆ DataFrame
df_final = pd.DataFrame()
df_final['acct'] = df_merged['acct']

# äº¤æ˜“é‡‘é¡ max/min
df_final['txn_amt_max'] = df_merged[['from_txn_amt_max', 'to_txn_amt_max']].max(axis=1)
df_final['txn_amt_min'] = df_merged[['from_txn_amt_min', 'to_txn_amt_min']].min(axis=1)

# å¹³å‡äº¤æ˜“é‡‘é¡åŠ æ¬Šå¹³å‡
df_final['txn_amt_mean'] = (
    df_merged['from_txn_amt_mean'] * df_merged['from_txn_count'] +
    df_merged['to_txn_amt_mean'] * df_merged['to_txn_count']
) / (df_merged['from_txn_count'] + df_merged['to_txn_count']).replace(0, 1)  # é¿å…é™¤ä»¥ 0

# äº¤æ˜“ç­†æ•¸ç›¸åŠ 
df_final['txn_count'] = df_merged['from_txn_count'] + df_merged['to_txn_count']

# æ™‚æ®µäº¤æ˜“æ¬¡æ•¸ç›¸åŠ 
time_cols = ['txn_0_6', 'txn_6_12', 'txn_12_18', 'txn_18_24']
for col in time_cols:
    df_final[col] = df_merged['from_' + col] + df_merged['to_' + col]

# é¡å‹å’Œé€šè·¯æ¬„ä½ç›¸åŠ 
add_cols = ['type_1', 'type_2', 'ch_type_1', 'ch_type_0']
for col in add_cols:
    df_final[col] = df_merged['from_' + col] + df_merged['to_' + col]

# æª¢è¦–çµæœ
print(df_final.head())

                                                acct  txn_amt_max  \
0  00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...       4050.0
1  00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...        205.0
2  000015150c92e2a41c4715a088df78d77a7d4f3017aadc...        585.0
3  00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...       3050.0
4  00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...         75.0

   txn_amt_min  txn_amt_mean  txn_count  txn_0_6  txn_6_12  txn_12_18  \
0          0.0        4050.0        1.0      0.0       0.0        1.0
1          0.0         205.0        1.0      0.0       0.0        0.0
2          0.0         585.0        1.0      0.0       1.0        0.0
3          0.0        3050.0        1.0      0.0       0.0        0.0
4          0.0          75.0        1.0      0.0       0.0        0.0

   txn_18_24  type_1  type_2  ch_type_1  ch_type_0
0        0.0     0.0     1.0        0.0        1.0
1        1.0     0.0     1.0        0.0        1.0
2        0.0     0.0     1.0        0.0        1.0
3        1.0     0.0     1.0        0.0        1.0
4        1.0     0.0     1.0        0.0        1.0

In [103]:
print(df_final.columns)

Index(['acct', 'txn_amt_max', 'txn_amt_min', 'txn_amt_mean', 'txn_count',
       'txn_0_6', 'txn_6_12', 'txn_12_18', 'txn_18_24', 'type_1', 'type_2',
       'ch_type_1', 'ch_type_0', 'label'],
      dtype='object')

In [104]:
print(len(df_final))

1800106

In [109]:
import pandas as pd

# è®€å–é æ¸¬å¸³è™Ÿ
predict_accts = predictdf_csv['acct']

# å¾ df_final ç§»é™¤é€™äº›å¸³è™Ÿåšè¨“ç·´é›†
df_train = df_final[~df_final['acct'].isin(predict_accts)].copy()

# å°‡è¢«ç§»é™¤çš„å¸³è™Ÿå­˜åˆ° predictss
predictss = df_final[df_final['acct'].isin(predict_accts)].copy()

# æª¢æŸ¥çµæœ
print("è¨“ç·´é›†å¤§å°:", df_train.shape)
print(df_train.head())
print("é æ¸¬é›†å¤§å°:", predictss.shape)
print(predictss.head())

è¨“ç·´é›†å¤§å°: (1795326, 14)
                                                acct  txn_amt_max  \
0  00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...       4050.0
1  00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...        205.0
2  000015150c92e2a41c4715a088df78d77a7d4f3017aadc...        585.0
3  00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...       3050.0
4  00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...         75.0

   txn_amt_min  txn_amt_mean  txn_count  txn_0_6  txn_6_12  txn_12_18  \
0          0.0        4050.0        1.0      0.0       0.0        1.0
1          0.0         205.0        1.0      0.0       0.0        0.0
2          0.0         585.0        1.0      0.0       1.0        0.0
3          0.0        3050.0        1.0      0.0       0.0        0.0
4          0.0          75.0        1.0      0.0       0.0        0.0

   txn_18_24  type_1  type_2  ch_type_1  ch_type_0  label
0        0.0     0.0     1.0        0.0        1.0      0
1        1.0     0.0     1.0        0.0        1.0      0
2        0.0     0.0     1.0        0.0        1.0      0
3        1.0     0.0     1.0        0.0        1.0      0
4        1.0     0.0     1.0        0.0        1.0      0
é æ¸¬é›†å¤§å°: (4780, 14)
                                                   acct  txn_amt_max  \
415   000ef1e36f55fd9f71dd7e02fe747af1f6240417f9e807...     385000.0
511   00129e51dddd8e4265489bad36a7c1a66f813ee1c86a79...      33500.0
826   001d6ee4c8bdfc61447fdb5624c57a897426e278ba10b9...    3050000.0
1510  0036584bcfa9a386492e6538fc0c6ae0728f098d11e640...      11500.0
1930  0045920c6a09906468d855f0343972685d925000266ffb...     205000.0

      txn_amt_min   txn_amt_mean  txn_count  txn_0_6  txn_6_12  txn_12_18  \
415         105.0   65642.191011       89.0      8.0      28.0       37.0
511         255.0    5507.384615       65.0      9.0       4.0       18.0
826        2250.0  401509.782609       46.0      0.0      11.0       34.0
1510       1550.0    5583.333333       12.0      2.0       0.0        5.0
1930         35.0   15179.714286       70.0      3.0      17.0       35.0

      txn_18_24  type_1  type_2  ch_type_1  ch_type_0  label
415        16.0    89.0     0.0        0.0       89.0      0
511        34.0    65.0     0.0        0.0       65.0      0
826         1.0    46.0     0.0        0.0       46.0      0
1510        5.0    12.0     0.0        0.0       12.0      0
1930       15.0    70.0     0.0        0.0       70.0      0

In [111]:
# è®€å–è­¦ç¤ºå¸³è™Ÿ
alert_accts = alertdf_csv['acct']

# æ¨™è¨» label
df_train['label'] = df_train['acct'].apply(lambda x: 1 if x in set(alert_accts) else 0)
predictss['label'] = predictss['acct'].apply(lambda x: 1 if x in set(alert_accts) else 0)

# æª¢æŸ¥
print(df_train['label'].value_counts())
print(predictss['label'].value_counts())

label
0    1794322
1       1004
Name: count, dtype: int64
label
0    4780
Name: count, dtype: int64

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report

# å‡è¨­ df_train å·²ç¶“æœ‰ features + label
X_train = df_train.drop(columns=['label']==0)
X_val = df_train['label']
y_train = df_train.drop(columns=['label']==1)
y_val = df_train['label']

# åˆ†è¨“ç·´/é©—è­‰é›†
X_train, X_val, y_train, y_val 

# å»ºç«‹æ¨¡å‹
models = {
    'logistic': LogisticRegression(max_iter=1000),
    'decision_tree': DecisionTreeClassifier(random_state=42),
    'random_forest': RandomForestClassifier(n_estimators=100, random_state=42),
    'xgboost': XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42)
}

# è¨“ç·´æ¨¡å‹ä¸¦é©—è­‰
for name, model in models.items():
    model.fit(X_train, y_train)
    preds = model.predict(X_val)
    print(f"===== {name} =====")
    print("Accuracy:", accuracy_score(y_val, preds))
    print(classification_report(y_val, preds))

# é›†æˆæ¨¡å‹ (Voting)
voting_clf = VotingClassifier(
    estimators=[(name, mdl) for name, mdl in models.items()],
    voting='soft'  # soft voting ç”¨é æ¸¬æ©Ÿç‡å¹³å‡
)
voting_clf.fit(X_train, y_train)
preds_vote = voting_clf.predict(X_val)
print("===== Voting Ensemble =====")
print("Accuracy:", accuracy_score(y_val, preds_vote))
print(classification_report(y_val, preds_vote))

# å° df_predict åšé æ¸¬
X_predict = predictss.drop(columns=['label'])
predictdf_csv['label'] = voting_clf.predict(X_predict)

<h1>Aggregating values from transaction-level to account-level.<br> 
(å°‡äº¤æ˜“å±¤ç´šçš„æ•¸å€¼å½™ç¸½åˆ°å¸³æˆ¶å±¤ç´šã€‚)<h1>

<h3>Sum, Average, Count of Transaction (äº¤æ˜“çš„ç¸½å’Œã€å¹³å‡ã€è¨ˆæ•¸)

Create a time-based group. (å»ºç«‹åŸºæ–¼æ™‚é–“çš„åˆ†çµ„)

Accumulate currency, self transaction, and channel types. (ç´¯è¨ˆè²¨å¹£ã€è‡ªæˆ‘äº¤æ˜“å’Œé€šè·¯é¡å‹)

æ ¹æ“šå…©å€‹è³‡æ–™é›†ä¸­çš„è­¦ç¤ºä¾†æ¨™è¨˜äº¤æ˜“ï¼ˆå€åˆ†æ˜¯èª°è§¸ç™¼äº†æ¨™è¨˜ï¼šä»˜æ¬¾æ–¹ã€æ”¶æ¬¾æ–¹æˆ–å…©è€…çš†æ˜¯ï¼‰

<h2>Create a time-based group. (å»ºç«‹åŸºæ–¼æ™‚é–“çš„åˆ†çµ„ã€‚)
<br>
<br>
<h3>åšalert

<h1>ä½¿ç”¨gradient boosting 5å€‹model(decision treeé¡)